.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
  background-color: black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form label {
  padding-right: 10px;
}
.form input {
  padding: 5px;
}

.userTable {
  border-collapse: collapse;
}
.userTable thead,
.userTable thead tr th,
.userTable tbody tr td {
  border: solid 1px #000;
  padding: 8px;
}
.userTable thead tr th {
  background-color: orange;
  color: #000;
}
.userTable tbody tr:nth-child(even) {
  background: #CCC;
  color: #000;
}
.userTable tbody tr:nth-child(odd) { 
  background: #FFF;
  color: #000;
}
.text-center {
  text-align: center;
}
.field {
  padding: 10px 0;
}